* {
    font-family: sans-serif;
}


.user-list {
    width: 60vh;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-top: solid 10px rgb(22, 51, 123);
    padding: 10px;
}

.user-list div {
    border-bottom: solid 1px rgb(213, 213, 213);
}

form {
    width: 60vh;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-top: solid 10px rgb(86, 229, 226);
    padding: 10px 50px;
}

input, label {
    display: block;
    width: 100%;
    margin: 7px 0;
    font-size: 1.3em;
}

input {
    padding: 5px 10px;
}

form div {
    margin: 20px 0;
}

button {
    display: block;
    background: rgb(0, 62, 138);
    padding: 10px 30px;
    border: none;
    text-align: center;
    width: 200px;
    color: white;
    cursor: pointer;
    font-size: 1.4em;
    margin: 50px auto;
}

.list-item {
    display: flex;
    justify-content: space-between;
}

.trash {
    color: brown;
    cursor: pointer;
    transition: color 0.5s;
}

.trash:hover {
    color: red;
}

.pop-up--bg {
    display: none;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}

.pop-up {
    background: white;
    margin: auto;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
}

.action-buttons{
    display: flex;
    justify-content: space-around;
}

.delete-button, .cancel-button{
    width: 150px;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

.delete-button {
    background: rgb(194, 23, 23);
}

.cancel-button{
    background: rgb(172, 172, 172);
}

.delete-button:hover {
    background: rgb(52, 52, 52);
}

.cancel-button:hover {
    background: rgb(172, 172, 172);
}

.update{
    color:blue;
}